{% for post in posts %}
    <div>
        <p class="lead">
            Name: <b>{{ post.Name }}</b>
            Anmeldung: <b>{{ post.get_Anmeldung_display }}</b>
            Email: <b>{{ post.Email }}</b>
                <p class="lead">Veröffentlicht: <b>{{ post.pub_date }}</b></p>
                <form action="#contact" method="POST"  style="display: inline;">
                  {% csrf_token %}
                  <input type="hidden" name="pk" value="{{ post.pk }}">
                  <input class="btn btn-default btn-danger" name="update" type="submit" value="Ändern">
                </form>
                <form action="#contact" method="POST"  style="display: inline;">
                  {% csrf_token %}
                  <input type="hidden" name="pk" value="{{ post.pk }}">
                  <input class="btn btn-default btn-danger" name="delete" type="submit" value="Löschen">
                </form>
        </p>
    </div>
{% endfor %}